<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<!-- 애플리케이션의 이름을 정의합니다. -->
	<display-name>servlet</display-name>
	<servlet>
		<servlet-name>CountryServlet</servlet-name>
		<servlet-class>servlet.CountryServlet</servlet-class>

		<init-param>
			<param-name>driverClass</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>

		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3306/world</param-value>
		</init-param>

		<init-param>
			<param-name>id</param-name>
			<param-value>root</param-value>
		</init-param>

		<init-param>
			<param-name>pw</param-name>
			<param-value>root</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>CountryServlet</servlet-name>
		<url-pattern>/country</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TestInit3</servlet-name>
		<servlet-class>servlet.TestInit3</servlet-class>

		<init-param>
			<param-name>paramName</param-name>
			<param-value>paramValue</param-value>
		</init-param>

		<init-param>
			<param-name>testName</param-name>
			<param-value>testValue</param-value>
		</init-param>

		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- 서블릿 등록을 위한 설정 -->
	<servlet>
		<!-- 서블릿의 이름을 정의합니다. 이 이름은 서블릿 매핑에서 참조됩니다. -->
		<servlet-name>HelloServlet</servlet-name>

		<!-- 서블릿 클래스의 패키지와 클래스 이름을 정의합니다. -->
		<!-- 서블릿 클래스는 웹 애플리케이션의 요청을 처리하는 Java 클래스를 의미합니다. -->
		<servlet-class>servlet.HelloServlet</servlet-class>
	</servlet>

	<!-- 서블릿과 URL 패턴을 매핑하는 설정 -->
	<!-- URL 패턴에 대한 요청이 오면 해당 서블릿의 service 메서드가 호출됩니다. -->
	<servlet-mapping>
		<!-- 서블릿 이름을 참조하여 어떤 서블릿과 매핑할지를 지정합니다. -->
		<servlet-name>HelloServlet</servlet-name>

		<!-- 서블릿이 처리할 URL 패턴을 정의합니다. -->
		<!-- 여기서는 "/hello" 경로로 들어오는 요청이 HelloServlet 서블릿으로 전달됩니다. -->
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<!-- 서블릿 등록을 위한 설정 -->
	<servlet>
		<!-- 서블릿의 이름을 정의합니다. 이 이름은 서블릿 매핑에서 참조됩니다. -->
		<servlet-name>WorldServlet</servlet-name>

		<servlet-class>servlet.WorldServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WorldServlet</servlet-name>
		<url-pattern>/world</url-pattern>
	</servlet-mapping>
</web-app>
